<h1>マイページ</h1>

  <h3>
    登録情報
    <%= link_to "編集する", end_users_edit_path %>
  </h3>
  <table>
    <thead>
      <tr>
        <th>氏名</th>
        <td><%= current_end_user.last_name %><%= current_end_user.first_name %></td>
      </tr>
      <tr>
        <th>カナ</th>
        <td><%= current_end_user.last_name_kana %>&nbsp&nbsp<%= current_end_user.first_name_kana %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= current_end_user.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= current_end_user.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= current_end_user.telephone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= current_end_user.email %></td>
      </tr>
    </thead>
  </table>


    <h3>
      配送先
      <%= link_to "一覧を見る", addresses_path %>
    </h3>
    <h3>
      注文履歴
      <%= link_to "一覧を見る" %>
    </h3>

