<div class="text-left">
  <h2>商品新規登録</h2>
</div>

 <div class="text-center">
  <%= form_with(model:@item, url:admin_items_path ,method: :POST) do |f| %>
    <div class="field">
      <%= f.label :商品画像 %>
      <%= f.attachment_field :image,  autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :タイトル %>
      <%= f.text_field :name, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :説明文 %>
      <%= f.text_field :introduction, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :ジャンル名 %>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
    </div>
    <div class="field">
      <%= f.label :値段 %>
      <%= f.text_field :price, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :販売ステータス %>
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "販売中", {value: :販売中, style: "display: inline-block;"} %>
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, "販売停止中", {value: :販売停止中, style: "display: inline-block;"} %>
    </div>
    <div>
      <%= f.submit "新規登録" %>
    </div>
  <% end %>
 </div>


