  <div class="text-left">
  <h2>ジャンル一覧・追加</h2>

  <%= form_with(model:@genre, url:admin_genres_path ,method: :POST) do |f| %>

    <div class="field">
      <%= f.label :ジャンル名 %>
      <%= f.text_field :name, autofocus: true %>
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div><br>
  <% end %>


  <table class="table">
    <thead>
      <tr>
        <th>ジャンル</th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre|%>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "編集", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

