<div class="text-center">
  <h1>注⽂情報確認</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>商品名</th>
          <th>単価</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @total_tax = 0 %>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, size: "80x50", fallback: 'cake.jpg' %></td>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.add_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.item.add_tax_price * cart_item.amount %></td>
          </tr>
          <% @total_tax += cart_item.item.add_tax_price * cart_item.amount %>
        <% end %>
      </tbody>
    </table>

    <table class="table table-bordered w-50 mx-auto">
      <thead>
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_cost %>円</td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%= @total_tax %>円</td>
        </tr>
        <% @sum = @total_tax + @order.shipping_cost %>
        <tr>
          <th>請求合計</th>
          <td><%= @sum %>円</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered w-50 mx-auto">
      <thead>
        <tr>
          <th>支払方法</th>
          <td>
            <% if @order.card? %>
             <p>クレジットカード</p>
            <% elsif @order.cash? %>
             <p>現金</p>
            <% end %>>
          </td>
        </tr>
        <tr>
          <th>お届け先</th>
           <td>
            郵便番号<%= @order.postal_code %><br>
            住所<%= @order.address %><br>
            宛名<%= @order.name %><br>
           </td>
        </tr>
      </tbody>
    </table>

    <%= form_with(model:@order, url:orders_path ,method: :POST, local: true) do |f| %>

    <%= f.hidden_field :end_user_id, :value => current_end_user.id %>
    <%= f.hidden_field :postal_code, :value => @order.postal_code %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
    <%= f.hidden_field :total_payment, :value => @sum %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    <%= f.hidden_field :is_order, :value => @order.is_order %>
    <div><br>
      <%= f.submit "注文を確定する", class: "btn btn-success", data: {confirm: "注文を確定してよろしいですか？"} %>
    </div>

  <% end %>
</div>
