<div class="text-left">
  <%= render "public/shared/sidebar", genres: @genres %><br>
</div>

<div class="text-center">
  <h1>商品一覧</h1>
  <div class="card-body row d-flex justify-content-center">
    <% @items.each do |item| %>
      <div class="card m-4 col-md-3.5 p-2" style="width: 18rem;">
        <%= attachment_image_tag item, :image, size: "280x100" %>
         <%= link_to item_path(item) do %>
          <div class="card-body">
            <p class="card-text">
              <%= item.name %><br>
              ¥<%= item.add_tax_price.to_s(:delimited) %>
            </p>
          </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
