<div class="container">
  <div class="row">
    <div class="col-3 ">
      <div class="text-center">
      <div class="border border-dark">
        <h4 class="border-bottom border-dark">ジャンル検索</h4>
          <%= render "public/shared/sidebar", genres: @genres %>
      </div>
      </div>
    </div>
    <div class="col-9 mx-auto d-flex">
      <div class="m-3"><%= attachment_image_tag @item, :image, size: "200x150" %></div>
      <div class="m-3 p-3">
        <h5><%= @item.name %></h5>
        <p><%= @item.introduction %></p>
        <h6 class="m-0">¥<%= @item.price.to_s(:delimited) %></h6>
        <%= form_with model:@cart_item, url:cart_items_path ,method: :POST do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount, *[1..10] %>
          <% if end_user_signed_in? %>
            <%= f.submit "カートに入れる", class:"btn btn-success" %>
          <% else %>
            <%= f.submit "カートに入れる", class:"btn btn-success", disabled: true %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
