<header class="border-bottom navbar-dark bg-dark">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
          <% if admin_signed_in? %>
            <h4><%= link_to 'NaganoCake', admin_root_path, class:"navbar-brand text-secondary" %></h4>
          <% else %>
            <h4><%= link_to 'NaganoCake', root_path, class:"navbar-brand text-secondary" %></h4>
          <% end %>
          <% if end_user_signed_in? %>
            <div class="mx-auto">ようこそ、<%= current_end_user.last_name %> さん!</div>
          <% end %>
          <div>
            <ul class="navbar-nav ml-auto">
              <% if end_user_signed_in? %>
                <li class="mx-3">
                  <%= link_to 'マイページ', end_users_my_page_path, class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to '商品一覧', items_path, class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to 'カート', cart_items_path, class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete, class:"btn btn-outline-secondary" %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="mx-3">
                  <%= link_to "商品一覧", admin_items_path, class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to "会員一覧", admin_end_users_path, class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to "注文履歴一覧", admin_orders_path, class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to "ジャンル一覧", admin_genres_path, class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"btn btn-outline-secondary" %>
                </li>
              <% else %>
                <li class="mx-3">
                  <%= link_to "Home", root_path, class:"btn btn-outline-secondary"  %>
                </li>
                <li class="mx-3">
                  <%= link_to '商品一覧', items_path, class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to '新規登録', new_end_user_registration_path, class:"btn btn-outline-secondary" %>
                </li>
                <li class="mx-3">
                  <%= link_to 'ログイン', new_end_user_session_path, class:"btn btn-outline-secondary" %>
                </li>
              <% end %>
            </ul>
            <% if admin_signed_in? %>
              <%= form_with url: admin_items_path, method: :GET, local:true do |f| %>
                <div class="input-group col-6 offset-md-6">
                  <%= f.text_field :item_name, class:"form-control" %>
                  <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
